In [ ]:
class pizza():
  def __init__(self,n,s,b,t):
    self.size=s
    self.name=n
    self.base=b
    self.topping=t

  def getsize(self):
    return self.size

p1=pizza("Thin Crust","Regular","Cheese Burst","Green Olives")

In [ ]:
p1.name

'Thin Crust'

In [ ]:
p1.getsize()

'Regular'

In [ ]:
class pizza():
  a=10
  def __init__(self,n,s,b,t):
    self.size=s
    self.name=n
    self.base=b
    self.topping=t

  def getsize(self):
    return self.size

  def geta(self):
    return self.a+10

p1=pizza("Thin Crust","Regular","Cheese Burst","Green Olives")
p1.geta()

20

In [ ]:
class pizza():
  a=10
  __b=20
  def __init__(self,n,s,b,t):
    self.size=s
    self.name=n
    self.base=b
    self.topping=t

  def getsize(self):
    return self.size

  def geta(self):
    return self.a+10+self.__b

p1=pizza("Thin Crust","Regular","Cheese Burst","Green Olives")
p1.geta()

40

In [ ]:
p1.a

10

In [ ]:
p1.__b
#private attribute is used within the class only

AttributeError: ignored

In [ ]:
class person():
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def getName(self):
    return self.name

  def getAge(self):
    return self.age

  def getSalary(self):
    return "20k"

p=person("xyz",30)
p.getName()

'xyz'

In [ ]:
class teacher(person):
  subject="oops"

  def getSalary(self):
    return 50000

t=teacher("abc",25)
t.age

25

In [ ]:
t.getSalary()

50000

In [ ]:
class teacher(person):
  def __init__(self,subject):
    self.subject=subject

  def getSalary(self):
    return 50000

t=teacher("oops")
t.getSalary()
t.age

AttributeError: ignored

In [ ]:
class teacher(person):
  def __init__(self,subject,name,age):
    super().__init__(name,age)
    self.subject=subject

  def getSalary(self):
    return 50000

t=teacher("xyz","oops",25)
t.getSalary()

50000

In [ ]:

t.age

25

In [ ]:
class a():
  def __init__(self,s1):
    self.str1=s1

class b():
  def __init__(self,s2):
    self.str2=s2

class c(a,b):
  def __init__(self,s1,s2,s3):
    a.__init__(self,s1)
    b.__init__(self,s2)
    self.str3=s3

  def getstr(self):
    print(self.str1,self.str2,self.str3)

c=c("abc","xyz","pqr")
c.getstr()

abc xyz pqr

In [ ]:
def area(r):
  return 3.14*r*r

def area(a,b):
  return a*b

area(2,3)

6

In [ ]:
area(3)
#compile line by line only

TypeError: ignored

In [ ]:
issubclass(teacher,person)

True

In [ ]:
isinstance(p,person)

True

In [ ]:
class person():
    def __init__(self,name,age,city):
        self.name=name
        self.age=age
        self.city=city

    def getname(self):
        return self.name

class employee(person):
    def __init__(self,name,age,city,empid,exp):
        super().__init__(name,age,city)
        self.empid=empid
        self.exp=exp

    def getsalary(self):
        return 20000
                 
class accountant(employee):
    def __init__(self,name,age,city,empid,exp,hour,hour_rent):
        super().__init__(name,age,city,empid,exp)
        self.hour=hour
        self.hour_rent=hour_rent

    def getsalary(self):
        print(self.name,"has received $",self.hour*self.hour_rent)

acc = accountant('ishan',23,'vya',1,10,3,200)
acc.getsalary()

ishan has received $ 600